.cs-input {
  display: block;
  height: 44px;
  width: 100%;
  padding: 12px;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  background-color: white;
  border: var(--with-border);
  border-radius: var(--with-radius);
  box-shadow: inset 0 4px 8px 0 var(--alpha-005);

  font-family: inherit;
  font-weight: 400;
}

.cs-input:disabled,
.cs-input[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.cs-input:focus {
  outline: 2px solid var(--app-tint);
  outline-style: auto;
}

.cs-input--big {
  height: 48px;
}

.cs-control {
  width: 100%;
}

.cs-label {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
